@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Oxygen&family=Poppins:wght@600&family=Teko:wght@300&family=Ubuntu:wght@400;500&display=swap");




.active {
	
	font-size: 1.2rem;
	/* color:white; */
	-webkit-text-fill-color: rgb(1, 37, 244);
	text-shadow: 0.5px 0.5px 0.5px  #0040ff;
	transition: 0.5s ease-in-out;
}

.Blink

{
	animation: blink 0.8s linear infinite;
  }
@keyframes blink {
	0% { opacity: 5;color: red; }
	50% { opacity: 1; }
	100% { opacity: 5;color: rgb(60, 0, 255); }
  }
  
 










@media screen and ( min-width:0px) and (max-width:1083px) {
	.dwnresponsive{
	   position: unset;
	   margin-top: 520px;
	   margin-left: 120px;
	   margin-right: -20px;
	}
}	